@import "styles/settings/__settings";

.songCard {
  max-width: 30rem;
  padding: 0;
  margin: 0 auto;    
  z-index: 2;
  position: relative;
  margin-top: 1rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 21%);
}

.songCardTitle{
  font-size:1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.songCardHeader
{
  
}

.songCardFooter
{
 background-color: $color-gray;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #ffffff;
}

.songCardArtistName{
  font-size: 0.8rem;
}

.songCardHeadingContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #5f5f5f;
  padding: 1.5rem 1.25rem 1rem;
}

.songCardStreamingLogo{
  width:25%;
}

.songCardLinkItem{
  display: flex;
  min-height: 5rem;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  background-color: #1d1d1d;
  border: 0;
  color: white;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.1s all;

  &:hover{
    background-color: #212121;
    .songCardPlayIcon{
      border-left: 16px solid #00d95a;
    }
    .songCardPlayText{
      color:#00d95a;
    }
  }
}

.songCardPlay{
  width:25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.songCardPlayIcon{
  display: block;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #ffffff;
  transition: ease-in-out 0.1s all;
}

.songCardPlayText{
  margin-left: 0.5rem;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: ease-in-out 0.1s all;
}