@import "styles/settings/__settings";

.songTeaser, .songTeaserContainerReleaseDate {
  width: 100%;
  padding: 0;
  z-index: 2;
  position: relative;
  box-shadow: 0 3px 6px rgb(0 0 0 / 12%), 0 3px 6px rgb(0 0 0 / 21%);
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;

  &:hover {
    .songTeaserLinkItem {
      background-color: #2b2b2b;
      .songTeaserPlayIcon {
        border-left: 8px solid #00d95a;
      }
      .songTeaserPlayText {
        color: #00d95a;
      }
    }
  }
}

.songTeaserContainerReleaseDate {
  cursor: auto;
}

.songTeaserTitle {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0.5rem;

  @media (min-width: 1024px) {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.songTeaserFooter {
  background-color: $color-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @media (min-width: 1024px) {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.songTeaserArtistName {
  font-size: 10px;

  @media (min-width: 1024px) {
    font-size: 0.8rem;
  }
}

.songTeaserHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #5f5f5f;
  padding: 1.5rem 1.25rem 1rem;
  position: relative;
}

.songTeaserCaret {
  border-color: #1d1d1d transparent transparent;
  border-style: solid;
  border-width: 8px 8px 2px;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  z-index: 9;
}

.songTeaserCaretBorder {
  border-color: #5f5f5f transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  z-index: 9;
}

.songTeaserStreamingLogo {
  width: 35%;
}

.songTeaserLinkItem, .songTeaserLinkItemReleaseDate {
  display: flex;
  min-height: 5rem;
  justify-content: space-between;
  width: 100%;
  background-color: #252525;
  border: 0;
  color: white;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.1s all;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1.5rem;
  padding-right: 1.5rem;

  &:hover {
    background-color: #2b2b2b;
    .songTeaserPlayIcon {
      border-left: 8px solid #00d95a;
    }
    .songTeaserPlayText {
      color: #00d95a;
    }
  }
  @media (min-width: 1024px) {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2rem;
    padding-right: 3rem;
    &:hover {
      .songTeaserPlayIcon {
        border-left: 12px solid #00d95a;
      }
    }
  }
}

.songTeaserLinkItemReleaseDate{
  padding: 1rem;
  justify-content: center;
  cursor: auto;

  &:hover{
    background-color: #252525;

    .songTeaserPlayIcon {
      border-left: 8px solid #00d95a;
    }
    .songTeaserPlayText {
      color: #00d95a;
    }
  }
}

.songTeaserPlay {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.songTeaserPlayIcon {
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #ffffff;

  transition: ease-in-out 0.1s all;

  @media (min-width: 1024px) {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #ffffff;
  }
}

.songTeaserPlayText {
  margin-left: 0.5rem;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -1px;
  line-height: 1;
  transition: ease-in-out 0.1s all;
}

.songTeaserReleaseDate {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: -1px;
  line-height: 1;
  transition: ease-in-out 0.1s all;
  text-align: center;
}
